/*Section 3 : Projects*/
.section3 {
  background-color: #f5f5f5;
}
.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 3rem;
  width: 80%;
  margin: auto;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.card {
  display: flex;
  // align-items: center;
  position: relative;

  flex-direction: column;
  // justify-content: space-between;
  border-radius: 7px;
  box-shadow: 0 3px 0 rgba(84, 94, 111, 0.2);
  background-color: #ffffff;
  margin: 4rem;
  transition: all 0.2s ease-in-out;
  .image-container-card {
    img {
      border-radius: 15px;
      padding: 1rem;
    }
  }
  .project-title {
    margin: 2rem;
    text-align: center;
    font-size: 2.5rem;
  }
  .project-description {
    margin: 2rem;
    height: auto;
    line-height: 1.7;
    font-size: 1.4rem;
    color: rgb(141, 141, 141);
  }
  .btn-container-card {
    margin: 2rem auto;
  }
  .buttons {
    width: 100%;
    display: flex;
    // background-color: red;
    justify-content: center;
    span {
      margin: 2rem;
      padding: 1rem;
      border-radius: 10px;
      cursor: pointer;
      background-color: #e8eaee;
    }
    i {
      font-size: 2.5rem;
    }
  }
}
.w3-bar {
  display: flex;
  justify-content: center;
}
.btn-small {
  margin: 0 1rem;
  padding: 0.7rem 1.3rem;
  font-size: 1rem;
  background-color: #e73c7e;
  font-size: 1.3rem;
  border-radius: 42px;
  font-family: "Geomanist", sans-serif;
  color: white;
  border: none;
  font-weight: 500;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 3px 0 rgba(84, 94, 111, 0.2);
}
.btn-small:hover {
  transform: translateY(-2px);
}
